<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>BraiNology</h3>
          <p>
            4ta. Avenida, Altos de San Nicolas <br>
            San Jos&eacute; Pinula<br>
            Guatemala <br><br>
            <strong>Tel&eacute;fonos:</strong> <a href="tel:+502 4697-2549">+502 4697-2549</a> / <a href="tel:+502 5574-2084">+502 5574-2084</a><br>
            <strong>Correo Electr&oacute;nico:</strong> <a href="mailto:info@brainology.com.gt">info@brainology.com.gt</a><br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Mapa del sitio</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrollo Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">App Moviles</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Proyectos Innovadores</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Consultoria y Outsourcing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Software a la Medida</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Intelligence y Big Data</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>BraiNology</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by BraiNology
    </div>
  </div>
</footer>
