<app-header></app-header>
<app-banner></app-banner>

<main id="main">

  <!-- ======= About Us Section ======= -->
  <app-about-us></app-about-us>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <app-services></app-services>
  <!-- End Services Section -->

  <!-- ======= Contact Section ======= -->
  <app-contact></app-contact>
  <!-- End Contact Section -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>
</main>
