<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Con&oacute;cenos</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Creamos software que ayuda a las empresas a crecer de acuerdo con las necesidades de sus clientes. Nuestro
          trabajo habla mejor de nosotros.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Cada empresa y cada individuo tiene distintas necesidades.</li>
          <li><i class="ri-check-double-line"></i> Apasionados por la tecnología y el desarrollo de software.</li>
          <li><i class="ri-check-double-line"></i> Transformamos sus ideas en herramientas tecnológicas.</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Somos especialistas en desarrollar aplicaciones de software a la medida, brindando soluciones que
          realmente funcionan. Nuestra experiencia y tecnología nos permiten crear aplicaciones de alta calidad en
          menor tiempo. Ofrecemos a cada cliente una solución adaptada específicamente a sus procesos.
        </p>
        <!-- <a href="#" class="btn-learn-more">Learn More</a>-->
      </div>
    </div>

  </div>
</section>
