<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Nuestros Servicios</h2>
      <p>Somos un equipo dedicado al desarrollo de software y tecnologías de informática, para solución y
        agilización de procesos de negocios en diferentes ámbitos empresariales e individuales.</p>
    </div>

    <div class="row">
      <div class="col-xl-4 col-md-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Desarrollo Web</a></h4>
          <p>Programación de plataformas y aplicaciones web autoadministrables, estables y escalables</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-8 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
        data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">APP M&oacute;viles</a></h4>
          <p>Creamos proyectos tanto en iPhone como Android, de forma nativa y con programación a medida para
            empresas con un diseño adaptativo, elegante, sencillo y funcional. Desde proyectos innovadores hasta
            movilizar procesos empresariales.</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-8 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
        data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Proyectos Innovadores</a></h4>
          <p>Tus ideas en el siguiente nivel a trav&eacute;s de la tecnolog&iacute;a. Usando Realidad virtual o
            aumentada.</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-8 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
        data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Consultoria y Outsourcing</a></h4>
          <p>De forma organizativa o procedimental proporcionamos las herramientas para su transformación digital
            aportando experiencia y formación relacionada.</p>
          <p>Equipos de analistas, diseñadores y programadores On-Site / Off-Site a disposición de su empresa</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-8 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
        data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Desarrollo de Software a la medida</a></h4>
          <p>Realizamos aplicaciones a la medida de tus necesidades en cualquier plataforma combinando versión
            móvil, web o escritorio, porque el utilizar un determinado dispositivo no tiene por qué ser un
            impedimento para tu negocio.</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-8 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
        data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Business Intelligence y Big Data</a></h4>
          <p>La mejor forma de explotar y aportar valor a los datos de tu compañía de forma que no sólo se trate de
            tener la información, sino de tenerla en el momento adecuado, en el lugar exacto y en el formato o
            dispositivo necesario.</p>
        </div>
      </div>

    </div>

  </div>
</section>
